[Unit]
Description=Immich daily backup to immich-backup
After=rclone-immich-backup.service immich-db.service immich-server.service
Wants=rclone-immich-backup.service
ConditionPathIsMountPoint=/mnt/immich-backup

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fcos-backup.sh
